@model LoginViewModel;

<div class="container">
    <div class="col-md-4 offset-md-4">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <h1>Login</h1>
        <form asp-action="Login" asp-controller="Account">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"  type="password"/>
                <span asp-validation-for="Password" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsRememberMe" class="form-check-input"/>
                    <label asp-for="IsRememberMe" class="form-check-label"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>

